{% extends "partials/layout.html" %} {% block content %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="fas fa-table"></i>
      Contracts Table
    </span>
    <div class="float-right">
      <button
        data-toggle="modal"
        data-target="#contractModal"
        class="btn btn-primary"
      >
        Create Contract
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="contractsTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Contract ID</th>
            <th>Product</th>
            <th>Customer</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Contract ID</th>
            <th>Product</th>
            <th>Customer</th>
            <th>Date Created</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<p class="small text-center text-muted my-5"></p>
{% endblock %} {% block modals%}
<!-- Contract Addition Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="contractModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Contract</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/contracts" method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="name">{{ form.customer_id.label }}</label>
            {{form.customer_id(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="name">{{ form.product_id.label }}</label>
            {{form.product_id(class_="form-control")}}
          </div>
          {{ form.submit(class_="btn btn-primary btn-block")}}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Contract Addition Modal -->

<!-- Contract Update or Delete Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="contractEditingModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Contract (Contract only be deleted)</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.customer_id.label }}
            <input
              type="text"
              class="form-control"
              id="ctCustomerId"
              name="ct_customer_id"
              disabled
            />
          </div>
          <div class="form-group">
            {{ form.product_id.label }}
            <input
              type="text"
              class="form-control"
              id="ctProductId"
              name="ct_product_id"
              disabled
            />
          </div>
          <input type="hidden" id="contractId">
          <div class="text-right">
            <button id="updateContract" class="btn btn-success" disabled>
              Update
            </button>
            <button id="deleteContract" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Contract Update or Delete Modal -->
{% endblock %} {% block scripts%}
<script>
  $(document).ready(function() {
    var table = $("#contractsTable").DataTable({
      ajax: {
        url: "{{ url_for('home.fetch_contracts_information')}}",
        dataType: "json",
        dataSrc: "data",
        contentType: "application/json"
      },
      columns: [
        { data: "id" },
        { data: "product_id" },
        { data: "customer_id" },
        { data: "created_at" }
      ]
    });

    $("#contractsTable tbody").on("click", "tr", function() {
      var data = table.row(this).data();
      $("#contractId").val(data.id);
      $("#ctProductId").val(data.product_id);
      $("#ctCustomerId").val(data.customer_id);
      // $("#ctCreatedAt").val(data.created_at);
      $("#contractEditingModal").modal("show");
    });

    $("#updateContract").on("click", function() {
      alert($("#ContractId").val());
    });

    $("#deleteContract").on("click", function(e) {
      e.preventDefault();
      var id = $("#contractId").val();
      $.ajax({
        type: "POST",
        url: "{{url_for('home.delete_contract')}}",
        data: JSON.stringify({ id }),
        dataType: "json"
      }).done(function(data) {
        $("#contractEditingModal").modal("hide");
      });
    });
  });
</script>
{% endblock %}
