{% extends "partials/layout.html" %} {% block content %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="fas fa-table"></i>
      Customers Table
    </span>
    <div class="float-right">
      <button
        data-toggle="modal"
        data-target="#customerModal"
        class="btn btn-primary"
      >
        Add Customer
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block modals%}

<!-- Customer Addition Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="customerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Customer</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="addCustomer">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="firstNameInput">{{ form.first_name.label }}</label>
            {{form.first_name(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="lastNameInput">{{ form.last_name.label }}</label>
            {{form.last_name(class_="form-control")}}
          </div>
          {{form.submit(class_="btn btn-primary btn-lg btn-block")}}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Customer Editing or Deleting Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="customerEditingModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update or Delete Customer</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="customerEditing" class="mx-auto" method="POST">
          {{ form.csrf_token }}
          <input type="hidden" id="customerId" />
          <div class="form-group">
            {{ form.first_name.label }}
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="first_name"
            />
          </div>
          <div class="form-group">
            {{ form.last_name.label }}
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="last_name"
            />
          </div>
          <div class="text-right">
            <button id="updateCustomer" class="btn btn-success">Update</button>
            <button id="deleteCustomer" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Customer Editing or Deleting Modal -->
{% endblock %} {% block scripts%}
<script>
  $(document).ready(function() {
    var table = $("#dataTable").DataTable({
      ajax: {
        url: "{{ url_for('home.fetch_customers_information')}}",
        dataType: "json",
        dataSrc: "data",
        contentType: "application/json"
      },
      columns: [{ data: "id" }, { data: "first_name" }, { data: "last_name" }]
    });

    // Add New Customer
    $("form#addCustomer").submit(function(e) {
      $.ajax({
        type: "POST",
        url: "{{ url_for('home.customers') }}",
        data: $("form#addCustomer").serialize(),
        success: function(data) {
          $(".toast-body").html(data);
          reloadDatatable();
          $(".toast").toast("show");
        }
      });
      e.preventDefault();
      $("#customerModal").modal("hide");
    });

    $("#dataTable tbody").on("click", "tr", function() {
      var data = table.row(this).data();
      $("#customerId").val(data.id);
      $("#firstName").val(data.first_name);
      $("#lastName").val(data.last_name);
      $("#customerEditingModal").modal("show");
    });

    $("#updateCustomer").on("click", function(e) {
      var id = $("#customerId").val();
      var firstName = $("#firstName").val();
      var lastName = $("#lastName").val();
      $.ajax({
        type: "POST",
        url: "{{url_for('home.update_customer')}}",
        data: { id, firstName, lastName },
        success: function(data) {
          $("#customerEditingModal").modal("hide");
          reloadDatatable();
        }
      });
      e.preventDefault();
    });

    $("#deleteCustomer").on("click", function(e) {
      var id = $("#customerId").val();
      $.ajax({
        type: "POST",
        url: "{{url_for('home.delete_customer')}}",
        data: id,
        success: function(data) {
          reloadDatatable();
          $("#customerEditingModal").modal("hide");
        }
      });
      e.preventDefault();
    });

    function reloadDatatable() {
      $("#dataTable")
        .DataTable()
        .ajax.reload();
    }
  });
</script>
{% endblock %}
