{% extends "partials/layout.html" %} {% block content %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="fas fa-table"></i>
      Products Table
    </span>
    <div class="float-right">
      <button
        data-toggle="modal"
        data-target="#productModal"
        class="btn btn-primary"
      >
        Add Product
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="productsTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Deposit</th>
            <th>Total Price</th>
            <th>Payment Frequency</th>
            <th>Payment Amount</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Deposit</th>
            <th>Total Price</th>
            <th>Payment Frequency</th>
            <th>Payment Amount</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

{% endblock %} {% block modals%}
<!-- Product Addition Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="productModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/products" method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="name">{{ form.name.label }}</label>
            {{form.name(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="deposit">{{ form.deposit.label }}</label>
            {{form.deposit(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="deposit">{{ form.total_price.label }}</label>
            {{form.total_price(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="deposit">{{ form.payment_frequency.label }}</label>
            {{form.payment_frequency(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="deposit">{{ form.payment_amount.label }}</label>
            {{form.payment_amount(class_="form-control")}}
          </div>
          {{ form.submit(class_="btn btn-primary btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Product Addition Modal -->

<!-- Product Editing or Deleting Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="productEditingModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update or Delete Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="productEditing" class="mx-auto">
          {{ form.csrf_token }}
          <input type="hidden" id="productId" />
          <div class="form-group">
            <label for="productName">{{ form.name.label }}</label>
            <input type="text" class="form-control" id="productName" name="product_name" />
          </div>
          <div class="form-group">
            <label for="productDeposit">{{ form.deposit.label }}</label>
            <input type="text" class="form-control" id="productDeposit" name="product_deposit" />
          </div>
          <div class="form-group">
            {{ form.total_price.label }}
            <input type="text" class="form-control" id="totalPrice" name="total_price" />
          </div>
          <div class="form-group">
            <label for="paymentFrequency">{{
              form.payment_frequency.label
            }}</label>
            <input type="text" class="form-control" id="paymentFrequency" name="payment_frequency" />
          </div>
          <div class="form-group">
            <label for="paymentAmount">{{ form.payment_amount.label }}</label>
            <input type="text" class="form-control" id="paymentAmount" name="payment_amount" />
          </div>
          <div class="text-right">
            <button id="updateProduct" class="btn btn-success">Update</button>
            <button id="deleteProduct" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Product Editing or Deleting Modal -->

{% endblock %} {% block scripts%}
<script>
  $(document).ready(function() {
    var table = $("#productsTable").DataTable({
      ajax: {
        url: "{{ url_for('home.fetch_products_information')}}",
        dataType: "json",
        dataSrc: "data",
        contentType: "application/json"
      },
      columns: [
        { data: "id" },
        { data: "name" },
        { data: "deposit" },
        { data: "total_price" },
        { data: "payment_frequency" },
        { data: "payment_amount" }
      ]
    });

    $("#productsTable tbody").on("click", "tr", function() {
      var data = table.row(this).data();
      console.log(data)
      $("#productId").val(data.id);
      $("#productName").val(data.name);
      $("#productDeposit").val(data.deposit);
      $("#totalPrice").val(data.total_price);
      $("#paymentFrequency").val(data.payment_frequency);
      $("#paymentAmount").val(data.payment_amount);
      $("#productEditingModal").modal("show");
    });

    $("#updateProduct").on("click", function() {
      alert($("#productId").val());
    });

    $("#deleteProduct").on("click", function(e) {
      e.preventDefault();
      var id = $("#productId").val();
      $.ajax({
        type: "POST",
        url: "{{url_for('home.delete_product')}}",
        data: JSON.stringify({ id }),
        dataType: "json"
      }).done(function(data) {
        console.log(data);
        $("#productEditingModal").modal("hide");
      });
    });
  });
</script>
{% endblock %}
