{% extends "partials/layout.html" %} {% block content %}
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="fas fa-table"></i>
      Transactions Table
    </span>
    <div class="float-right">
      <button
        data-toggle="modal"
        data-target="#transactionModal"
        class="btn btn-primary btn-block"
      >
        Create Transaction
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="transactionTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Contract ID</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Contract ID</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
{% endblock %} {% block modals%}

<!-- Transaction Creation Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="transactionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Transaction</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/transactions" method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="name">{{ form.status.label }}</label>
            {{form.status(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="name">{{ form.type.label }}</label>
            {{form.type(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="name">{{ form.amount.label }}</label>
            {{form.amount(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="name">{{ form.try_contract.customer_id.label }}</label>
            {{form.try_contract.customer_id(class_="form-control")}}
          </div>
          <div class="form-group">
            <label for="name">{{ form.try_contract.product_id.label }}</label>
            {{form.try_contract.product_id(class_="form-control")}}
          </div>
          {{ form.submit(class_="btn btn-primary btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Transaction update or delete modal -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="transactionEditingModal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update or Delete Transaction</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.status.label }}
            <input
              type="text"
              class="form-control"
              id="txStatus"
              name="tx_status"
            />
          </div>
          <div class="form-group">
            {{ form.type.label }}
            <input
              type="text"
              class="form-control"
              id="txType"
              name="tx_type"
            />
          </div>
          <div class="form-group">
            {{ form.amount.label }}
            <input
              type="text"
              class="form-control"
              id="txAmount"
              name="tx_amount"
            />
          </div>
          <input type="hidden" id="txContractId" name="tx_contract_id" />
          <input type="hidden" id="txId" name="tx_id" />
          <div class="text-right">
            <button id="updateTransaction" class="btn btn-success">
              Update
            </button>
            <button id="deleteTransaction" class="btn btn-danger">
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End of Transaction update or delete modal -->
{% endblock %} {% block scripts%}
<script>
  $(document).ready(function() {
    var table = $("#transactionTable").DataTable({
      ajax: {
        url: "{{ url_for('home.fetch_transactions_information')}}",
        dataType: "json",
        dataSrc: "data",
        contentType: "application/json"
      },
      columns: [
        { data: "id" },
        { data: "status" },
        { data: "type" },
        { data: "amount" },
        { data: "date" },
        { data: "contract_id" }
      ]
    });

    $("#transactionTable tbody").on("click", "tr", function() {
      var data = table.row(this).data();
      $("#txId").val(data.id);
      $("#txStatus").val(data.status);
      $("#txType").val(data.type);
      $("#txAmount").val(data.amount);
      $("#txContractId").val(data.contract_id);
      $("#transactionEditingModal").modal("show");
    });

    $("#updateTransaction").on("click", function() {
      alert($("#transactionId").val());
    });

    $("#deleteTransaction").on("click", function(e) {
      e.preventDefault();
      var id = $("#customerId").val();
      $.ajax({
        type: "POST",
        url: "{{url_for('home.delete_transaction')}}",
        data: JSON.stringify({ id }),
        dataType: "json"
      }).done(function(data) {
        console.log(data);
      });
    });
  });
</script>
{% endblock %}
